<!DOCTYPE html>
<html>
<head>
  <title>Clubhouse</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar.html" %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container col-md-4">

</div>
<div class="container col-md-4">
<%= yield %>
</div>
<div class="container col-md-4">

</div>
</body>
</html>
